.cards-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &--horizontal {
        overflow: visible;

        max-width: 100%;
    }

    &-items {
        list-style: none;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
