@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.header {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;

  &-logo {
    display: flex;
    gap: 1em;
    color: var(--color-text-accent, #5d5fef);
  }

  &-burger {
    position: relative;
    width: 20px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
}

@media (max-width: 768px) {
  .header {
    &-burger {
      display: flex;

      &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -10px;
        width: 100% !important;
        height: 100% !important;

        transition: opacity 0.2s ease-out;

        &--close {
          opacity: 0;
        }

        &--open {
          opacity: 1;
        }
      }

      &--active {
        display: flex;
        .header-burger__icon {
          &--close {
            opacity: 1;
            animation: rotate 1s;
          }

          &--open {
            opacity: 0;
            animation: rotate 1s;
          }
        }
      }
    }
  }
}
